.folder {
  border: 1px solid #cccccc;
  border-radius: 8px;
  margin: 8px;
  overflow: hidden;
}

.folder__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 12px;
}

.file {
  padding: 8px;
  background: #f1f1f1;
  border-top: 1px solid #cccccc;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #cccccc;
}